.fade-enter-active, .fade-leave-active {
    transition: opacity .4s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}

.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .3s ease cubic-bezier(.8, 1.0, 1.0, .5);
}

.slide-fade-enter, .slide-fade-leave-to {
    transform: translateY(10px);
    opacity: 0;
}
