$black: #000000;
$black1: #2D2D2D;
$black2: #414141;
$white: #FFFFFF;
$white1: #1C1C1C;

$dark: #17171C;
$dark1: #080908;

$gray: #F5F5F5;
$gray1: #F7F7F7;
$gray2: #9B9B9B;
$gray3: #EFEFEF;
$gray4: #BDBDBD;
$gray5: #6E6E6E;

$blue: #4297EC;
$blue1: #4595E5;
$blue2: #336BEF;

$green: #1F9B16;
$green1: #4FA34B;

$red: #fb1403;
$red1: #ca0000;
